<h1>About Me</h1>

<h3>Why Me?</h3>
Because your future won't be the same without me.

<h3>The Secrets Behind My Brilliant Mind</h3>
Technology stacks I use:

<ul>
  <li><a href="https://www.tensorflow.org/js/">@tesorflow/tfjs</a> : Machine Learning libraries</li>
  <li><a href="https://github.com/justadudewhohacks/face-api.js?files=1">faceapi.js</a> : Face Recognition framework for JavaScript</li>
  <li><a href="https://nodejs.org/en/">nodeJS</a> : JavaScript runtime for the server-side API</li>
  <li><a href="https://expressjs.com/">expressJS</a> : web development framework for nodeJS</li>
  <li><a href="https://angular.io/">Angular</a> : Web Development platform</li>
  <li><a href="https://www.mongodb.com/">Mongo</a> : Document-Oriented database</li>
</ul>

<br />
<br />

Brought to you by <a href="https://hexavara.com" target="blank">Hexavara Tech</a>.

