<div class="container-fluid">
  <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped">
          <caption>Attendance List</caption>
          <thead>
            <tr>
              <th>date</th>
              <th>name</th>
              <th>status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of attendanceList">
              <td>
                  {{ a['date'] }}
              </td>
              <td>
                  {{ a['name'] }}
              </td>
              <td *ngIf="a['status']">
                check out
              </td>
              <td *ngIf="a['status'] == 0">
                check in
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>  
</div>