<div class="container-fluid ">
  <h2>Hello! I am your Attendance Assistant!</h2>
  <h4>I'm still in the making at this moment </h4>
  <h4>While waiting for me, I have something for you.</h4>
  <h4>I would like to challenge you!</h4>
  <h4>Let me guess your name, then just tell me that I'm way tooo smart ;)</h4>
  <p class="text-warning"> I run on your browser, performance may vary depending on the client machine specifications, adjust the FPS for better result</p>
</div>

<br />

<div class="container-fluid" (window:resize)="drawCanvas()">
  <div class="row">
    <div [ngClass]="{'col-xs-12':track === true,
                    'col-xs-6':track === false}" >
        <video #video width="100%" id="video" autoplay muted [style.display]="track ? 'none' : 'block'" ></video>
    </div>
    <div class="col-xs-6">
        <canvas #canvas id="canvas"></canvas>
    </div>
    <div class="col-xs-6" >
        <div class="row">
          <div class="col-xs-12">
            <h4 [style.display]="!track ? 'none' : 'block'">You are {{ detectedName }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6" [style.display]="!track ? 'none' : 'block'">
            <button type="button" (click)="buttonYes()" class="btn btn-success btn-lg btn-block">Wow, you got it!</button>
          </div>
          <div class="col-xs-6" [style.display]="!track ? 'none' : 'block'">
            <button type="button" (click)="buttonNo()" class="btn btn-danger btn-lg btn-block">Sorry, big NO!</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
              <h5 [style.display]="!track ? 'none' : 'block'">My Records</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
              <h6 [style.display]="!track ? 'none' : 'block'">Feedbacks: </h6>
          </div>
          <div class="col-xs-6">
              <h6 [style.display]="!track ? 'none' : 'block'">{{feedback['yes']+feedback['no']}}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
              <h6 [style.display]="!track ? 'none' : 'block'">Said that I'm awesome: </h6>
          </div>
          <div class="col-xs-6">
              <h6 [style.display]="!track ? 'none' : 'block'">{{feedback['yes']}}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
              <h6 [style.display]="!track ? 'none' : 'block'">Said that I've to learn more: </h6>
          </div>
          <div class="col-xs-6">
              <h6 [style.display]="!track ? 'none' : 'block'">{{feedback['no']}}</h6>
          </div>
        </div>
    </div>
  </div>

  <br />

  <div class="row" >
      <div class="col-xs-4">
        <button [style.display]="!track ? 'none' : 'block'" type="button" id="200" (click)="toggleFPS($event)" class="btn btn-warning btn-lg btn-block">
          5 FPS
        </button>
      </div>
      <div class="col-xs-4">
        <button [style.display]="!track ? 'none' : 'block'" type="button" id="500" (click)="toggleFPS($event)" class="btn btn-warning btn-lg btn-block">
          2 FPS
        </button>
      </div>
      <div class="col-xs-4">
        <button [style.display]="!track ? 'none' : 'block'" type="button" id="1000" (click)="toggleFPS($event)" class="btn btn-warning btn-lg btn-block">
          1 FPS
        </button>
      </div>
    </div>

  <div class="row">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" [style.display]="track ? 'none' : 'block'" class="btn btn-primary btn-lg btn-block" id="capture" (click)="capture()">Identify Yourself!</button>
        </div>
    </div>

    <br />

    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-lg btn-block" 
                [ngClass]="{'btn-danger':track === true,
                            'btn-success':track === false}" 
                id="track" (click)="enableTracking()">
        {{ trackStatus }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="spinner-border"></div>
<br />
<div class="container-fluid">
  <div class="row">
      <!--<div class="col-xs-6" >
          <table class="table table-striped">
          <caption>List of registered members</caption>
            <thead>
              <tr>
                <th>person</th>
                <th>name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of registeredMembers">
                <td>
                  <img src="data:image/jpeg;base64,{{ m['image'] }}" height="100" />
                </td>
                <td>
                    {{ m['name'] }}
                </td>
              </tr>
            </tbody>
          </table>
      </div>-->
      <div class="col-xs-12" >
          <p [style.display]="track ? 'none' : 'block'" >Identified member descriptions</p>
          <table class="table table-striped" *ngIf="identifiedPersons.length > 0">
                <tbody *ngFor="let i of identifiedPersons">
                    <tr>    
                    <td rowspan="2" width="200" height="200">
                      <img height="200" src="data:image/jpeg;base64,{{ i['image'] }}" #identified />
                    </td>
                    <td>
                      Name
                    </td>
                    <td #name>
                        {{ i['name'] }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Euclidean Distance
                    </td>
                    <td #distance>
                        {{ i['distance'] }}
                    </td>
                  </tr>
                </tbody>
              </table>
      </div>
    </div>
</div>
